##cmake
cmake-build-debug/
tsMuxerGUI/tsMuxerGUI.app
tsMuxerGUI/CMakeFiles/
tsMuxerGUI/tsMuxerGUI_autogen/
CMakeFiles/
tsMuxer/CMakeFiles/
libmediation/CMakeFiles/
build/

##### C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
